@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff")
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format("woff")
}

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open-Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16pt;
    background: #0074d9!important; /*yolo*/
}

h1, h2, h3, h4 {
    color: #fff;
}

h1 {
    font-weight: 700;
}

h1 a {
    color: #fff;
    font-size: 1.5em;
    text-shadow: 2px 2px #111;
}

h2 {
    font-size: 1.5em;
}

a {
    color: #fff;
}

a:hover {
    color: #fff;
}

.jumbotron {
    background: 0 0;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.content {
    text-align: center;
}

.logo {
    margin-top: 50px;
    /*margin-bottom: 50px;*/
}

p.lead {
    font-size: 1.2em;
    line-height: 1.5em;
}

#stuff {
    height: 50px;

}

.share {
    display: inline-block;
    color: #FFF;
    font-size: 32px;
    padding-top: 7px;
    height: 50px;
    vertical-align: middle;
    width: 20%;
    opacity: 1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.share:hover {
    opacity: 0.8;
}

.sbg-facebook {
    background: #3971B6;
}

.sbg-twitter {
    background: #A0D6E2;
}

.sbg-github {
    background: #333333;
}

.sbg-youtube {
    background-color: #d02525;
}

.main-content {
    display: block;
    margin-top: 30px;
}

#mc_embed_signup {
    margin-top: 20px;
}

#mc-embedded-subscribe-form {
    color: #fff;
    padding: 0px 20px;
    text-align: center;
}

#mc-embedded-subscribe-form p {
    font-size: 1.2em;
    line-height: 1.5em;
}

input#mce-EMAIL.email {
    height: 50px;
    padding: 7px 15px;
    display: inline-block;
    font-weight: bold;
    background: #fff;
    font-size: 1em;
    color: #202020;
    float: left;
}

input#mce-EMAIL.email:focus {
    outline: 0;
}

input#mc-embedded-subscribe {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 50px;
    padding: 7px 10px;
    color: #fff;
    background-color: #0074d9;
    border: 2px solid #fff;
    font-size: 1em;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}

input#mc-embedded-subscribe:hover {
    background-color: #fff;
    color: #0074d9;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear
}
